# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
./broadcast/*

# Docs
docs/

# Dotenv file
.env

# Python 
.venv/

# zkSync
zkout/

# Patrick
broadcast/
.notes.md
debugger/
.vscode
.DS_Store
.encryptedKey.json
.gitignore
.devex_issues.md

# Node.js
node_modules/
npm-debug.log
yarn-error.log
.pnp/
.pnp.js
