[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.24"
remappings = [
    '@openzeppelin/contracts=lib/openzeppelin-contracts/contracts',
    '@matterlabs/zksync-contracts/=lib/zksync-contracts/zksync-contracts/',
]
via-ir = true
is-system = true

[profile.zksync]
src = 'src'
libs = ['lib']
fallback_oz = true
mode = "3"

[fuzz]
runs = 1000
max_test_rejects = 65536
seed = '0x1'
dictionary_weight = 40
include_storage = true
include_push_bytes = true
extra_output = ["storageLayout", "metadata"]

[invariant]
runs = 256
depth = 32
fail_on_revert = true

[fmt]
bracket_spacing = true
int_types = "long"
line_length = 120
multiline_func_header = "all"
number_underscore = "thousands"
quote_style = "double"
tab_width = 4
wrap_comments = true

[etherscan]
# zksync = no keey needed for zksync
mainnet = { key = "${ETHERSCAN_API_KEY}" }
arbitrum = { key = "${ARBITRUMSCAN_API_KEY}" }

[rpc_endpoints]
zksync = "https://mainnet.era.zksync.io"
mainnet = "${MAINNET_RPC_URL}"           # uses the MAINNET_RPC_URL environment variable
arbitrum = "${ARBITRUM_RPC_URL}"         # uses the ARBITRUM_RPC_URL environment variable


# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
